@using FeelingSpa.Data.Models
@model FeelingSpa.Web.ViewModels.Category.CategoriesListViewModel
@{
    this.ViewData["Title"] = "All Categories, page" + Model.PageNumber;
}
<h1 class="text-center">@this.ViewData["Title"]</h1>
<hr />
<div class="card" style="width: 18rem;">

    @foreach (var category in this.Model.Categories)
    {
        <img class="card-img-top" src="@category.ImageUrl" alt="Card image cap">
        <div class="card-body">
            <h5 class="mt-0"><a asp-action="ById" asp-route-id="@category.Id"></a></h5>
            <h5 class="card-title">@category.Name</h5>
            <p class="card-text">@category.Description</p>
            <div type="button" class="btn btn-primary">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <span class="text-warning"> <h7> See Services </h7> </span>
                </a>
            </div>
        </div>
    }
</div>
<hr />
<partial name="_PagingPartial" model="@Model" />

