@using FeelingSpa.Data.Models
@model FeelingSpa.Web.ViewModels.Category.CategoriesListViewModel
@{
    this.ViewData["Title"] = "All Categories, page" + Model.PageNumber;
}
<h1 class="text-center">@this.ViewData["Title"]</h1>
<hr />

<div class="col-md-12">
    <div class="row">

        @foreach (var category in this.Model.Categories)
        {

            <div class="card col-md-6">
                <img class="card-img-top" src="@category.ImageUrl" alt="@category.Name">
                <div class="card-body">
                    <h5 class="card-title">@category.Name</h5>
                    <p class="card-text">@category.Description</p>
                    <a asp-controller="Categories" asp-action="SingleCategory" asp-route-id="@category.Id" class="btn btn-primary">Go to category</a>
                </div>
            </div>
        }
    </div>
</div>

<hr />

<hr />
<partial name="_PagingPartial" model="@Model" />


